@model RnD.DataTableSample.Models.Category
@using (Ajax.BeginForm("Delete", "Optimize", null,
        new AjaxOptions
        {
            UpdateTargetId = "updateTargetId",
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "POST",
            OnSuccess = "AjaxSuccess",
        }, new { @id = "deleteForm" }))
{  
    
    <fieldset>
        <legend>Category:</legend>
        <div id="updateTargetId" class="error invisible">
        </div>
        @Html.HiddenFor(model => model.CategoryId)
        <div class="display-field">
            <strong>Category Name: </strong>@Html.DisplayFor(model => model.Name)
        </div>
        <div class="display-field">
            Do you want delete this category?
        </div>
    </fieldset>
}